* {
  margin: 0 0 0 0;
  padding: 0%;
  box-sizing: inherit; }

header {
  background-image: url(../Img/fondoHGrande.png);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden; }

body {
  background-image: url(../Img/fondo.png); }

table {
  background-color: #3a5eb1; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #3c4966; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

p {
  font-size: 14px;
  color: #0e0e0e; }

span {
  color: #294364; }

label {
  display: block;
  float: center; }

.bg-normal {
  background-color: #7219; }

.bg-importante {
  background-color: #3323; }

.bg-cierre {
  background-color: yellow; }

.seccionUno {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 200px;
  overflow: hidden; }
  .seccionUno__waveUno {
    grid-column: 1/13;
    grid-row: 1; }
  .seccionUno__elementos {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/13;
    grid-row: 2;
    flex-wrap: wrap; }
    .seccionUno__elementos__contacto {
      text-align: right; }
      .seccionUno__elementos__contacto .contacto {
        color: #fff;
        letter-spacing: 4px;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        transition: 0.2s; }
      .seccionUno__elementos__contacto .contacto:hover {
        background: #79c745;
        box-shadow: 0 0 10px #79c745, 0 0 40px #79c745, 0 0 80px #79c745;
        transition: 1s; }
      .seccionUno__elementos__contacto .contacto:hover {
        background: #79c745;
        box-shadow: 0 0 10px #79c745, 0 0 40px #79c745, 0 0 80px #79c745;
        transition: 1s; }
      .seccionUno__elementos__contacto #span1 {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span1 {
        left: 100%;
        transition: 1s; }
      .seccionUno__elementos__contacto #span3 {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span3 {
        right: 100%;
        transition: 1s;
        transition-delay: 0,5s; }
      .seccionUno__elementos__contacto #span2 {
        top: 100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span2 {
        top: 100%;
        transition: 1s;
        transition-delay: 0,25s; }
      .seccionUno__elementos__contacto #span4 {
        bottom: -100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span4 {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0,75s; }
  .seccionUno__waveDos {
    grid-column: 1/13;
    grid-row: 3; }

.seccionTres {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 55em; }
  .seccionTres .contenedorr .titulo {
    text-align: center;
    padding: 30px auto;
    margin: 30px auto; }
  .seccionTres .contenedorr .galeria-port {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .seccionTres .contenedorr .galeria-port .imagen-port {
      width: 49%;
      height: 400px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      box-shadow: 0 0 6px #000001; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        transform: scale(0);
        background: rgba(69, 64, 73, 0.7);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria img {
        width: 50%; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria p {
        color: #fff; }
    .seccionTres .contenedorr .galeria-port .imagen-port:hover .hover-galeria {
      transform: scale(1); }
    .seccionTres .contenedorr .galeria-port .imagen-port > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }

.seccionDos {
  background-color: #250707;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .seccionDos__imagenEnlaces {
    object-fit: cover; }
    .seccionDos__imagenEnlaces__navegacion {
      height: 200px;
      width: 24.5%;
      border-radius: 1.5em; }
    .seccionDos__imagenEnlaces__navegacion:hover {
      transform: scale(1.2, 1.2); }

.seccionCuatro {
  position: fixed;
  top: 92%;
  left: 55%;
  border: ridge;
  background-color: #F0F1FD;
  border-radius: 1.5em;
  color: AF96FF;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .seccionCuatro__textoScroll {
    border-bottom: black solid 2px;
    margin: 20px; }

.seccionCinco {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.quienesSomosBody {
  display: grid;
  grid-column: repeat(1, 2em); }
  .quienesSomosBody__imagenQuienesUno {
    width: 100%;
    height: 25rem; }
  .quienesSomosBody__textoQuienesUno {
    font-size: 2em;
    color: white; }
  .quienesSomosBody__textoQuienesDos {
    font-size: 2em;
    color: white; }
  .quienesSomosBody__textoQuienestres {
    color: white;
    font-size: 3em;
    font-style: oblique;
    font-variant: small-caps;
    text-align: justify;
    text-indent: 10%;
    letter-spacing: 1px; }
  .quienesSomosBody__imagenQuienesDos {
    width: 50%;
    height: 30rem; }
  .quienesSomosBody__imagenQuienesTres {
    width: 40%;
    height: 25rem; }

.quienesCarousel {
  height: 30em; }

.imagenCard {
  height: 300px;
  border-radius: 100%; }

.porqueElegirnosBody__textoUno {
  color: white; }

.textoCierre, .porqueElegirnosBody__textoDos {
  font-size: 2em;
  font-style: oblique;
  font-variant: small-caps;
  text-indent: 10%; }

.listas__titulo {
  color: white; }

.seccionFormulario {
  background-image: url(../Img/fondoFormulario.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #212721;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #212721;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #22863b;
  border-color: #22863b;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #d85448; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #7ccc1a; }

.error {
  background-image: url(../Img/404.jpg);
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover; }
  .error__texto {
    color: blanchedalmond;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; }
