* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: inherit; }

header {
  background-image: url(../Img/fondoHGrande.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover; }

body {
  margin: 3px auto;
  background-image: url(../Img/fondo.png); }

footer {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%);
  width: 100%;
  padding: 50px 0px; }

table {
  background-color: #3a5eb1; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #3c4966; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

h5 {
  color: #fbfbfb; }

p {
  padding: 5px auto;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: #000000; }

span {
  color: #294364; }

label {
  display: block;
  float: center; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #212721;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #212721;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #22863b;
  border-color: #22863b;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

a {
  text-decoration: none; }

.bg-normal {
  background-color: #7219; }

.bg-importante {
  background-color: #3323; }

.bg-cierre {
  background-color: yellow; }

.seccionUno {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 1fr 200px;
  overflow: hidden; }
  .seccionUno__waveUno {
    grid-column: 1/13;
    grid-row: 1; }
  .seccionUno__elementos {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/13;
    grid-row: 2;
    flex-wrap: wrap; }
    .seccionUno__elementos__contacto {
      text-align: right; }
      .seccionUno__elementos__contacto .contacto {
        font-family: "Oswald", sans-serif;
        color: black;
        letter-spacing: 6px;
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        transition: 0.2s;
        font-weight: bold; }
      .seccionUno__elementos__contacto .contacto:hover {
        background: #79c745;
        box-shadow: 0 0 10px #79c745, 0 0 40px #79c745, 0 0 80px #79c745;
        transition: 1s; }
      .seccionUno__elementos__contacto .contacto:hover {
        background: #79c745;
        box-shadow: 0 0 10px #79c745, 0 0 40px #79c745, 0 0 80px #79c745;
        transition: 1s; }
      .seccionUno__elementos__contacto #span1 {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span1 {
        left: 100%;
        transition: 1s; }
      .seccionUno__elementos__contacto #span3 {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span3 {
        right: 100%;
        transition: 1s;
        transition-delay: 0, 5s; }
      .seccionUno__elementos__contacto #span2 {
        top: 100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span2 {
        top: 100%;
        transition: 1s;
        transition-delay: 0, 25s; }
      .seccionUno__elementos__contacto #span4 {
        bottom: -100%;
        left: 0%;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #79c745); }
      .seccionUno__elementos__contacto .contacto:hover #span4 {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0, 75s; }
  .seccionUno__waveDos {
    grid-column: 1/13;
    grid-row: 3; }

.seccionDos {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30%;
  justify-content: space-around;
  align-content: space-around; }
  .seccionDos__imagenEnlaces {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .seccionDos__imagenEnlaces__navegacion {
      object-fit: cover;
      overflow: hidden;
      width: 20%;
      height: 150px;
      margin: 10px auto;
      padding: 10px auto; }
      .seccionDos__imagenEnlaces__navegacion .imagenNavegacion {
        border-radius: 1.5em;
        width: 100%;
        height: 100%; }
    .seccionDos__imagenEnlaces__navegacion:hover {
      transform: scale(1.2, 1.2); }

.seccionTres {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%);
  width: 100%;
  height: 60em; }
  .seccionTres .contenedorr .tituloIndex {
    letter-spacing: 10px;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    color: blanchedalmond;
    text-align: center;
    margin: auto;
    max-width: 100%; }
  .seccionTres .contenedorr .galeria-port {
    margin: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .seccionTres .contenedorr .galeria-port .imagen-port {
      width: 49%;
      height: 400px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      box-shadow: 0 0 6px #000001; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        transform: scale(0);
        background: rgba(69, 64, 73, 0.7);
        transition: transform 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria img {
        width: 60%; }
      .seccionTres .contenedorr .galeria-port .imagen-port .hover-galeria p {
        color: #fff; }
    .seccionTres .contenedorr .galeria-port .imagen-port:hover .hover-galeria {
      transform: scale(1); }
    .seccionTres .contenedorr .galeria-port .imagen-port > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }

.seccionCuatro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 10rem;
  position: fixed;
  top: 70%;
  left: 60%; }
  .seccionCuatro .burbuja {
    background-color: #f0f1fd;
    border-radius: 1.5em;
    color: #070707; }
    .seccionCuatro .burbuja__textoScroll {
      margin: 1%;
      font-size: 1em;
      text-align: center;
      font-family: "Oswald", sans-serif; }

.seccionCinco .contenedorFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }
  .seccionCinco .contenedorFooter__boxFooter {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 25px; }
    .seccionCinco .contenedorFooter__boxFooter h2 {
      font-weight: 500;
      font-size: 30px;
      color: black;
      font-family: "Oswald", sans-serif;
      margin-bottom: 30px;
      font-weight: 700; }
    .seccionCinco .contenedorFooter__boxFooter h2:hover {
      transform: scale(1.2, 1.2);
      color: snow; }
    .seccionCinco .contenedorFooter__boxFooter a {
      text-decoration: none;
      background-color: black;
      color: white;
      font-family: "Oswald", sans-serif;
      margin-top: 10px;
      font-weight: 600; }
    .seccionCinco .contenedorFooter__boxFooter a:hover {
      opacity: 0.8;
      transform: scale(1.2, 1.2); }
    .seccionCinco .contenedorFooter__boxFooter .logoFooter {
      width: 200px; }

.seccionCinco .contenedorMapa {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center; }

.seccionCinco .contenedorDerechos {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.quienesSomosBody {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%);
  display: grid;
  grid-column: repeat(1, 2em); }
  .quienesSomosBody__imagenQuienesUno {
    width: 100%;
    height: 25rem; }
  .quienesSomosBody__textoQuienestres {
    padding: 10px;
    width: 100%; }
    .quienesSomosBody__textoQuienestres .textoQuienesSomos {
      font-family: "Oswald", sans-serif;
      font-size: 2em;
      font-style: oblique;
      text-indent: 3%;
      letter-spacing: 1px;
      color: white;
      text-align: center; }
  .quienesSomosBody__imagenQuienesDos {
    width: 50%;
    height: 30rem; }
  .quienesSomosBody__imagenQuienesTres {
    width: 40%;
    height: 25rem; }

.quienesCarousel {
  padding: 20px auto;
  height: 30em; }

.imagenCard {
  height: 300px;
  border-radius: 100%; }

.porqueElegirnosBody {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% auto;
  overflow: hidden; }
  .porqueElegirnosBody .seccionVideos {
    text-align: center;
    width: 100%; }
  .porqueElegirnosBody .seccionTexto__textoUno {
    padding: 1% auto;
    color: #1e488b;
    font-family: "Oswald", sans-serif;
    text-align: center; }
  .porqueElegirnosBody .seccionTexto__textoDos {
    color: #1e488b;
    font-family: "Oswald", sans-serif;
    text-align: center; }

.presupuesto {
  margin: 4% auto;
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #010103 87%, #010101 94%, #020024 100%); }

.listas__titulo {
  color: white; }

.seccionFormulario {
  background-image: url(../Img/fondoFormulario.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #d85448; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #7ccc1a; }

.error {
  visibility: visible;
  color: #C20000;
  background-image: url(../Img/404.jpg);
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: cover; }
  .error__texto {
    color: blanchedalmond;
    font-size: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center; }

.hide {
  opacity: 0; }

@media only screen and (max-width: 768px) {
  .seccionDos__imagenEnlaces__navegacion {
    width: 49%; }
  header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .seccionUno__elementos {
    justify-content: center; } }
