$color_header:#1B262C;
$color_nav:rgb(37, 7, 7);
//  #0F4C75;
$color_main:#3282B8;
$color_footer:#FFD523;
// #BBE1FA;
$color_enlace: #551624;
$color_contacto: #79c745;

// $spacings: (
//     large: 3.2em,
//     medium: 2,8em,
//     small: 2em,
//     )

$colors:(
    normal:#7219,
    importante: #3323,
    cierre: yellow,
)